body,
html {
  background-color: #09090b;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #09090b;
  overflow-y: hidden;
}

.login-card {
  background: #09090b;
  padding: 30px;
  border-radius: 8px;
  border: 2px solid #28282A;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 400px;
  width: 100%;
  margin: 12px;
}

h2 {
  margin-bottom: 10px;
  color: #fff;
}

p {
  font-size: 14px;
  color: #888;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #28282A;
  border-radius: 4px;
  font-size: 14px;
  background-color: #09090b;
  outline: none;
  color: #fff;
  box-sizing: border-box;
}

.login-btn-container {
  display: flex;
  justify-content: flex-end;
  /* Menyelaraskan tombol ke kanan */
}

.login-btn {
  width: 50%;
  padding: 12px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: 10px;
  box-sizing: border-box;
}

.login-btn:hover {
  background: #777777;
}
