.navbar {
  width: 100%;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #27272a;

  .title {}

  .logout {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  i {
    color: #ff0000;
  }

}

.profile {
  padding: 16px;
  gap: 5px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  .info {
    display: flex;
    gap: 5px;
    flex-direction: column;

    .name {
      font-size: 16px;
    }

    .nik {
      font-size: 12px;
      color: #777;
    }
  }

  .role {
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: right;

    .salary {
      font-size: 12px;
      color: #777;
    }
  }

}


.action-container {
  padding: 16px;
  width: 100%;
  display: flex;
  box-sizing: border-box;

  .present {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #222;
    padding: 10px;
    border-radius: 4px;

    .left {
      height: 100%;
      gap: 15px;
      display: flex;
      align-items: center;

      .icon {
        font-size: 30px;
        color: #777;
        background-color: #333;
        padding: 5px;
        border-radius: 4px;
        display: flex;
        align-self: center;
      }

      .title {
        gap: 5px;
        display: flex;
        flex-direction: column;
      }

      .title p {
        margin: 0;
      }

      .subheader {
        font-size: 12px;
        color: #777;
      }
    }

    // end left
    .right {
      gap: 5px;
      align-self: center;
      display: flex;
      text-align: right;
      flex-direction: column;

      p {
        margin: 0;
      }

      .header {
        color: #ff700f;
      }
      .subheader {
        font-size: 12px;
        color: #777;
      }
    }


  }

  // present end


}
