.navbar {
  width: 100%;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #27272a;

  .title {}

  .logout {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  i {
    color: #ff0000;
  }

}

.profile {
  padding: 16px;
  gap: 5px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  .info {
    display: flex;
    gap: 5px;
    flex-direction: column;

    .name {
      font-size: 16px;
    }

    .nik {
      font-size: 12px;
      color: #777;
    }
  }

  .role {
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: right;

    .salary {
      font-size: 12px;
      color: #777;
    }
  }

}


.action-container {
  padding: 16px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;


  .present:active {
    background-color: #1a1a1a;
    border: 1px solid #ff700f;
  }

  .present {
    user-select: none;
    transition: ease 0.2s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    background-color: #222;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;

    .left {
      height: 100%;
      gap: 15px;
      display: flex;
      align-items: center;

      .icon {
        font-size: 40px;
        color: #777;
        background-color: #333;
        padding: 5px;
        border-radius: 4px;
        display: flex;
        align-self: center;
      }

      .title {
        gap: 5px;
        display: flex;
        flex-direction: column;
      }

      .title p {
        margin: 0;
      }

      .subheader {
        font-size: 12px;
        color: #777;
      }
    }

    // end left
    .right {
      gap: 5px;
      align-self: center;
      display: flex;
      text-align: right;
      flex-direction: column;

      p {
        margin: 0;
      }

      .header {
        color: #ff700f;
      }

      .subheader {
        font-size: 12px;
        color: #777;
      }
    }

  }

  // present end
  .other-action {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    margin-top: 15px;

    .left:active {
      background-color: #1a1a1a;
      border: 1px solid #ff700f;
    }

    .left {
      display: flex;
      transition: ease 0.2s;
      width: 50%;
      user-select: none;
      height: 80px;
      background-color: #222;
      border-radius: 4px;
      padding: 5px 20px 5px 20px;
      box-sizing: border-box;
      gap: 15px;

      .icon {
        font-size: 40px;
        color: #777;
        background-color: #333;
        padding: 5px;
        border-radius: 4px;
        display: flex;
        align-self: center;
      }

      .info {
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;

        p {
          margin: 0;
        }

        .header {
          color: #ff700f;
        }

        .subheader {
          font-size: 10px;
          color: #777;
        }
      }
    }

    // end left
    .right:active {
      background-color: #1a1a1a;
      border: 1px solid #ff700f;
    }

    .right {
      display: flex;
      transition: ease 0.2s;
      user-select: none;
      width: 50%;
      height: 80px;
      background-color: #222;
      border-radius: 4px;
      padding: 5px 20px 5px 20px;
      box-sizing: border-box;
      gap: 15px;

      .icon {
        font-size: 40px;
        color: #777;
        background-color: #333;
        padding: 5px;
        border-radius: 4px;
        display: flex;
        align-self: center;
      }

      .info {
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;

        p {
          margin: 0;
        }

        .header {
          color: #ff700f;
        }

        .subheader {
          font-size: 10px;
          color: #777;
        }
      }
    }

    // end right

  }

  // end other action
}
