.card-aka {
  width: 100%;
  display: flex;
  align-items: center;
}

// .card-aka img {
//   margin-top: 30px;
//   width: 100%;
// }
.card-aka img {
    // margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    filter: brightness(0.7) saturate(1.5);
}


// .popup {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   // background: rgba(0, 0, 0, 0.8);
//   background-color: rgba(0, 0, 0, 0.5);
//   backdrop-filter: blur(4px);
//
//   /* Darker background */
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000;
//   /* Ensure popup appears above other elements */
// }
//
// .popup-content {
//   background-color: rgba(0, 0, 0, 0.9);
//   padding: 20px;
//   border-radius: 8px;
//   width: 90%;
//   max-width: 300px;
//   border: 1px solid #222;
// }
//
// .form-group {
//   margin-bottom: 15px;
// }
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  /* Animasi fade-in */
}

.popup.fade-out {
  animation: fadeOut 0.3s ease forwards;
  /* Animasi fade-out */
}

.popup-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 300px;
  border: 1px solid #222;
}

.form-group {
  margin-bottom: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
h4 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}


label {
  display: block;
  font-size: 12px;
  margin-bottom: 30px;
  color: #777;
  /* Light label color for contrast */
}

textarea {
  height: 100px;
  border-radius: 4px;
  border: 1px solid #222;
  /* Darker border for textarea */
  outline: none;
  padding: 10px;
  resize: none;
  // background: rgba(0, 0, 0, 0.4);
  background: rgba(22, 22, 22, 0.3);
  color: #f1f1f1;
  margin-bottom: 20px;
}

.action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #000;
  color: #fff;
  border: 1px solid #222;
  /* Darker border for textarea */
  width: 50%;
}

button[type="submit"]:active {
  background-color: #000;
  outline: 1px solid #999;
}

button[type="button"]:active {
  background-color: #000;
  outline: 1px solid #999;
}

button[type="button"] {
  background-color: #000;
  border: 1px solid #222;
  /* Darker border for textarea */
  color: #ff0000;
  width: 50%;
}

.navbar {
  width: 100%;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid #27272a;

  .title {
    text-align: center;
    font-weight: 700;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgba($color: #ffffff, $alpha: 0.7);
  }

  .logout {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 25px;
  }

  i {
    color: #ff0000;
  }

}

.profile {
  padding: 30px;
  gap: 5px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  .info {
    display: flex;
    gap: 5px;
    flex-direction: column;

    .name {
      font-size: 16px;
    }

    .nik {
      font-size: 12px;
      color: #777;
    }
  }

  .role {
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: right;

    .salary {
      font-size: 12px;
      color: #777;
    }
  }

}


.action-container {
  padding: 16px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;


  .present:active {
    background-color: #000;
    outline: 1px solid #222;

  }

  .present {
    user-select: none;
    transition: ease 0.2s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    background-color: #000;
    border: 1px solid #222;

    padding: 5px 20px 5px 20px;
    border-radius: 8px;

    .left {
      height: 100%;
      gap: 15px;
      display: flex;
      align-items: center;

      .icon {
        font-size: 40px;
        color: #777;
        background-color: #101010;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        align-self: center;
      }

      .title {
        gap: 5px;
        display: flex;
        flex-direction: column;
      }

      .title p {
        margin: 0;
      }

      .subheader {
        font-size: 12px;
        color: #777;
      }
    }

    // end left
    .right {
      gap: 5px;
      align-self: center;
      display: flex;
      text-align: right;
      flex-direction: column;

      p {
        margin: 0;
      }

      .header {
        color: #52398e;
      }

      .subheader {
        font-size: 12px;
        color: #777;
      }
    }

  }

  // present end
  .other-action {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    margin-top: 15px;

    .left:active {
      background-color: #000;
      outline: 1px solid #222;

    }

    .left {
      display: flex;
      transition: ease 0.2s;
      width: 50%;
      user-select: none;
      height: 100px;
      background-color: #000;
      border: 1px solid #222;

      border-radius: 8px;
      padding: 5px 20px 5px 20px;
      box-sizing: border-box;
      gap: 15px;

      .icon {
        font-size: 40px;
        color: #777;
        background-color: #101010;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        align-self: center;
      }

      .info {
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;

        p {
          margin: 0;
        }

        .header {
          color: #52398e;
        }

        .subheader {
          font-size: 10px;
          color: #777;
        }
      }
    }

    // end left
    .right:active {
      background-color: #000;
      outline: 1px solid #222;
    }

    .right {
      display: flex;
      box-sizing: border-box;
      transition: ease 0.2s;
      user-select: none;
      width: 50%;
      height: 100px;
      background-color: #000;
      border: 1px solid #222;
      border-radius: 8px;
      padding: 5px 20px 5px 20px;
      gap: 15px;

      .icon {
        font-size: 40px;
        color: #777;
        background-color: #101010;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        align-self: center;
      }

      .info {
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;

        p {
          margin: 0;
        }

        .header {
          color: #ff4d00;
        }

        .subheader {
          font-size: 10px;
          color: #777;
        }
      }
    }

    // end right

  }

  // end other action
}
