body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    user-select: none;
    width: 100%;
    /* max-width: 400px;  */
    height: 100vh;
    margin: 0;
    /* padding: 16px; */
    box-sizing: border-box;
    background-color: #09090b;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px; 
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 800px; 
    }
}

